body {
    background-color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.42857143;
    color: #000;
     margin: 0;
}

.header-leftlink{
    background-color: #ffd84f;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

a.navlink:visited,
a.navlink:link,
a.navlink:hover
{
    text-decoration: none;
    font-weight: bold;
    color: #333333;
    font-size: 16px;
}

.menu-explainer {
    margin: 10px;
    font-size: 12px;
    text-align: left;
    font-style: italic;
    color: #777777;
}

.updatestext {
    font-size: 12px; 
}

a.menulink:visited,
a.menulink:link
{
    text-decoration: none;
    font-weight: normal;
    color: #000000;
    font-size: 14px;
    font-style: normal;
}

a.unfinishedlink:visited,
a.unfinishedlink:link,
a.unfinishedlink:hover
{
    text-decoration: none;
    font-weight: normal;
    color: #bbbbbb;
}

a.menulink:hover
{
    text-decoration: underline;
    font-weight: normal;
    color: #000000;
}


.body-container {
    text-align: center;
}

.iframe-container {
  overflow: hidden;
  padding: 0px;
  position: relative;
    height: 1000px;
    
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
    padding: 0px;
    background-color: white;
}

.logo-container {
    text-align: center;
}



.menu-header {
    margin-left: 30px;
    margin-top: 30px;
    font-family: "Bookman Old Style", Helvetica, Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #333333;
}

.menu-container {
    text-align: center;
    font-size: 0;
}

.menu-subheader {
    margin: 0 auto;
    margin-top: 10 px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    width: calc(80% - 20px);
    max-width: 980px;
    color: #333333;
}

.menu-overall {
    margin: 10px;
    background-color: #f8f8f8;
    font-size: 16px;
    text-align: left;
}



.column {
    display: inline-block;
    width: 40%;
    vertical-align:top;
    max-width: 500px;
}

.row {
    display: block;
}

.headercolumnleft {
    display: inline-block;
    width: calc(80% - 20px);
    vertical-align:middle;
    max-width: 980px;
    text-align: left;
}



.headerrow {
    display: block;
    background-color: #f2f2f2;
    height: 40px;
    text-align: center;
    padding-top: 4px;
}

h4 {
    margin: 0px;
    background-color: #ffd84f;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: #333333;
    padding-top: 6px;
    padding-bottom: 6px;    
}

h6 {
    margin: 0px;
    background-color: #4feaff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: #333333;
    padding-top: 6px;
    padding-bottom: 6px;
}

.statarow {
    margin: auto;
    background-color: #ffd84f;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: #333333;
    width: calc(80% - 20px);
    max-width: 980px;
    height: 30px;
    padding-top: 8px;
}

.designrow {
    margin: auto;
    background-color: #4feaff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: #333333;
    width: calc(80% - 20px);
    max-width: 980px;
    height: 30px;
    padding-top: 8px;
}



table, tr, td {
    border: 0;
    padding: 0px;
    border-spacing: 0px;
    text-align: left;
}


.circley {
      width: 12px;
      height: 12px;
      background: #ffd84f;
display:inline-block;
      border-radius: 50%
    }

.circleb {
        width: 12px;
        height: 12px;
        background: #4feaff;
        display:inline-block;
        border-radius: 50%
    }

.circlep {
      width: 12px;
      height: 12px;
      background: #ff4f9e;
    display:inline-block;
      border-radius: 50%
    }

.lcircley {
      width: 24px;
      height: 24px;
      background: #ffd84f;
display:inline-block;
      border-radius: 50%
    }

.lcircleb {
        width: 24px;
        height: 24px;
        background: #4feaff;
        display:inline-block;
        border-radius: 50%
    }

.lcirclep {
      width: 24px;
      height: 24px;
      background: #ff4f9e;
    display:inline-block;
      border-radius: 50%
    }

.scircley {
      width: 6px;
      height: 6px;
      background: #ffd84f;
      display:inline-block;
      margin-bottom: 3px;
      margin-right: 3px;
      border-radius: 50%
    }

.scircleb {
      width: 6px;
      height: 6px;
      background: #4feaff;
      display:inline-block;
      margin-bottom: 3px;
      margin-right: 3px;
      border-radius: 50%
    }

.circlew {
        width: 12px;
        height: 12px;
        background: #FFFFFF;
        display:inline-block;
        border-radius: 50%
    }


ul li {
       list-style:circle;
       color:black;
     }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin-top: 6px;
    margin-bottom: 6px;    
    padding: 0;
}